[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "external/fast_float"]
	path = external/fast_float
	url = git@github.com:fastfloat/fast_float.git
